<template>
  <form @submit.prevent>
    <h4 style="margin-bottom:15px">создание поста</h4>
    <my-input v-model="post.title" type="text" placeholder="название" />
    <my-input v-model="post.body" type="text" placeholder="описание" />
    <my-button  @click="createPost" style="align-self: flex-end">создать</my-button>
  </form>
</template>

<script>


export default {
  components: {
 

  },
  data() {
    return {

          post: {
        title: "",
        body: "",
      },
    };
  },
  methods: {
    createPost() {
      this.$emit("create", this.post);
      this.post = {
        id: Date.now(),
        title: "",
        body: "",
      }
    },
  },

};
</script>

<style lang="scss" scoped>

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

</style>
