<template>
  <div class="post">
    <div>
      <div><strong>Название:</strong>{{ post.title }}</div>
      <div><strong>Описание:</strong>{{ post.body }}</div>
    </div>
    <div class="post__buttons">
      <my-button
      @click="$emit('remove', post)"
      >
      удалить</my-button>
    </div>
  </div>
</template>

<script>
export default {
  components: {},
  props: {
    post: Object,
  },
};
</script>

<style lang="scss" scoped>
.post {
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
</style>
