<template>
  <div v-if="posts.length">
    <h4>Cписок пользователей</h4>
    <transition-group name="post-list">
    <post-item v-for="post in posts" :key="post" :post="post" @remove="$emit('remove', post)" />
    </transition-group>
  </div>
  <h2 v-else>Список пользователей пуст!!!!</h2>
</template>

<script>
import PostItem from "./PostItem.vue";
export default {
  components: {
    PostItem,
  },
  props: {
    posts: Array,
  },
};
</script>

<style lang="scss" scoped>
.post-list-enter-active,
.post-list-leave-active {
  transition: all 0.6s ease;
}
.post-list-enter-from,
.post-list-leave-to {
  opacity: 0;
  transform: translateX(130px);
}

.post-list-move{
  transition: transform 0.8s ease;
}
</style>
