<template>
  <button class="btn">
    <slot></slot>
  </button>
</template>

<script>
export default {
  name: 'my-button',
  setup() {
    
  },
}
</script>

<style lang="scss" scoped>
.btn {
  background: inherit;
  color: teal;
  border: 1px solid teal;
  padding: 10px;
}
</style>