<template>
<input :value="modelValue" @input="updateInput" type="text" class="input">
</template>

<script>
export default {
  name: 'my-input',
  props:{
modelValue:[String, Number]
  },
  setup() {
    
  },
  methods: {
    updateInput(event){
      this.$emit('update:modelValue', event.target.value)
    }
  }
}
</script>

<style lang="scss" scoped>
.input {
  width: 100%;
  border: 2px solid teal;
  padding: 15px;
  margin-bottom: 15px;
}
</style>